[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[user]
	email = maekwnnn@gmail.com
	name = ryoooo
[init]
	defaultBranch = main
[gtr "editor"]
	default = vscode
[gtr "ai"]
	default = codex
[url "https://github.com/"]
	insteadOf = git@github.com:
[credential]
        helper = !'/usr/local/bin/devpod' agent git-credentials --port 12049
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
