[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = maekwnnn@gmail.com
	name = ryoooo
[init]
	defaultBranch = main
[gtr "editor"]
	default = vscode
[gtr "ai"]
	default = codex
[url "https://github.com/"]
	insteadOf = git@github.com:
